{% extends "flyer/base.html" %}


{%block content%}
{% if all_sales %}
    <table>
    {% for sale in all_sales %}
        <tr>
        	<td>{{ sale.product }}</td>
        	<td>{{ sale.brand }}</td>
        	<td>{{ sale.category }}</td>
        	<td>{{ sale.flyer }}</td>
        	<td>{{ sale.price_sale }}</td>
        	<td>{{ sale.price_reg }}</td>
        	<td>{{ sale.unit }}</td>
        	<td>{{ sale.description }}</td>
        	<td>
        			<ul>
					{% for saving in sale.saving_set.all %}
					    <li>{{ saving.saving }}</li>
					{% endfor %}
					</ul>
        	</td>	
        </tr>
    {% endfor %}
    </table>
{% else %}
    <p>No sales are available.</p>
{% endif %}
{%endblock%}